services:
  nginx:
    image: tiangolo/nginx-rtmp:latest
    volumes:
      - ./nginx.config:/etc/nginx/nginx.config
      - streams-volumes:/hls/live
    ports:
      - "1935:1935"

  auth_server:
    build: 
      dockerfile: ./Dockerfile
      context: .
    ports:
      - "8000:8000"
      
volumes:
  streams-volumes: